.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}
body {
  margin: 0;
  font-family: 'Cabin';
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h1 {
  font-family: 'Mrs Sheppards';
  font-size: 6rem;
  color: #db222a;
}
p {
  font-size: 1.5rem;
}
img {
  width: 200px;
  height: 200px;
}

